* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  font-family: Arial, sans-serif, Helvetica;
  background: #141d26;
}

a:active, a:hover {
  outline: 0;
}

a {
  text-decoration: none;
}

.h1, .h2, .h3, h1, h2, h3 {
  font-weight: 500;
  line-height: 1.1;
  /*cursor: default;*/
}

img {
  pointer-events: none;
}

.container {
  background: #141d26;
}

nav {
  height: 40px;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #0e1822;
}

.thebell {
  position: absolute;
  top: 7px;
  left: 0;
  padding-left: 25px;
  padding-right: 35px;
  color: #99fcda;
  font-size: 22px;
  cursor: pointer;
}

.shake {
  -webkit-animation: shake 1.2s 5s cubic-bezier(.36,.07,.19,.97) both 4;
  -moz-animation: shake 1.2s 5s cubic-bezier(.36,.07,.19,.97) both 4;
  -ms-animation: shake 1.2s 5s cubic-bezier(.36,.07,.19,.97) both 4;
  -o-animation: shake 1.2s 5s cubic-bezier(.36,.07,.19,.97) both 4;
  animation: shake 1.2s 5s cubic-bezier(.36,.07,.19,.97) both 4;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-perspective: 1000px;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    -ms-transform: translate3d(-1px, 0, 0);
    -o-transform: translate3d(-1px, 0, 0);
    -moz-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    -ms-transform: translate3d(2px, 0, 0);
    -o-transform: translate3d(2px, 0, 0);
    -moz-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    -ms-transform: translate3d(-4px, 0, 0);
    -o-transform: translate3d(-4px, 0, 0);
    -moz-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    -ms-transform: translate3d(4px, 0, 0);
    -o-transform: translate3d(4px, 0, 0);
    -moz-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@-moz-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    -ms-transform: translate3d(-1px, 0, 0);
    -o-transform: translate3d(-1px, 0, 0);
    -moz-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    -ms-transform: translate3d(2px, 0, 0);
    -o-transform: translate3d(2px, 0, 0);
    -moz-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    -ms-transform: translate3d(-4px, 0, 0);
    -o-transform: translate3d(-4px, 0, 0);
    -moz-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    -ms-transform: translate3d(4px, 0, 0);
    -o-transform: translate3d(4px, 0, 0);
    -moz-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@-ms-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    -ms-transform: translate3d(-1px, 0, 0);
    -o-transform: translate3d(-1px, 0, 0);
    -moz-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    -ms-transform: translate3d(2px, 0, 0);
    -o-transform: translate3d(2px, 0, 0);
    -moz-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    -ms-transform: translate3d(-4px, 0, 0);
    -o-transform: translate3d(-4px, 0, 0);
    -moz-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    -ms-transform: translate3d(4px, 0, 0);
    -o-transform: translate3d(4px, 0, 0);
    -moz-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@-o-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    -ms-transform: translate3d(-1px, 0, 0);
    -o-transform: translate3d(-1px, 0, 0);
    -moz-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    -ms-transform: translate3d(2px, 0, 0);
    -o-transform: translate3d(2px, 0, 0);
    -moz-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    -ms-transform: translate3d(-4px, 0, 0);
    -o-transform: translate3d(-4px, 0, 0);
    -moz-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    -ms-transform: translate3d(4px, 0, 0);
    -o-transform: translate3d(4px, 0, 0);
    -moz-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    -ms-transform: translate3d(-1px, 0, 0);
    -o-transform: translate3d(-1px, 0, 0);
    -moz-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    -ms-transform: translate3d(2px, 0, 0);
    -o-transform: translate3d(2px, 0, 0);
    -moz-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    -ms-transform: translate3d(-4px, 0, 0);
    -o-transform: translate3d(-4px, 0, 0);
    -moz-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    -ms-transform: translate3d(4px, 0, 0);
    -o-transform: translate3d(4px, 0, 0);
    -moz-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
.ttCon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: default;
}

.tt {
  text-align: center;
  color: #EEF;
  font-family: "Roboto Condensed", sans-serif, Arial, Georgia;
  font-size: 17px;
  letter-spacing: 0.4px;
}

.twitter {
  color: #00aced;
}

.made {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  margin-right: 10px;
}

.madeTxt {
  color: #EEF;
  font-family: "Roboto Condensed", sans-serif, Arial, Georgia;
  transition: 0.2s;
}

.madeTxt:hover {
  color: #DDD;
  transition: 0.2s;
}

.madeh1 {
  font-size: 14px;
  letter-spacing: 0.7px;
}

.heart {
  color: tomato;
}

.pj {
  border-bottom: 2px solid #EEF;
  border-radius: 100px;
}

.containerCopyBox {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  height: auto;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 7px;
  background: #141d26;
  transition: 1s;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 0.8s linear;
}

.copybox, .copybox1, .copybox2, .copybox3, .copybox4, .copybox5, .copybox6 {
  position: relative;
  top: 0;
  display: inline-block;
  height: 70px;
  width: 130px;
  color: #DDF;
  /*border: 1px solid #333;*/
  box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.2), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.2);
  margin-right: 7px;
  margin-left: 7px;
  cursor: pointer;
  border-radius: 3px;
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1.2px 2px 2px #1B2836;
  transition: 0.2s;
}

.copybox:hover, .copybox1:hover, .copybox2:hover, .copybox3:hover, .copybox4:hover, .copybox5:hover, .copybox6:hover {
  color: #AAA;
  transition: 0.2s;
}

.copybox:active, .copybox1:active, .copybox2:active, .copybox3:active, .copybox4:active, .copybox5:active, .copybox6:active {
  position: relative;
  top: 1.5px;
}

.br {
  display: block;
}

.ctc {
  display: inline-block;
  position: relative;
  top: -13px;
  color: #86acd0;
  font-family: "Roboto Condensed", sans-serif, Arial, Georgia;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: default;
}

.ct {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Roboto Condensed", sans-serif, Arial, Georgia;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.copied, .empty {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: "Roboto Condensed", sans-serif, Arial, Georgia;
  font-weight: bold;
  color: #99fcda;
  top: 100px;
  font-size: 18px;
  letter-spacing: 0.5px;
  cursor: default;
  visibility: hidden;
  z-index: 3;
  background: #1B2836;
  padding: 8px;
  border-radius: 4px;
}

.empty {
  color: #f14357;
}

.copied_animation {
  -webkit-animation: disap 2s linear;
  -moz-animation: disap 2s linear;
  -ms-animation: disap 2s linear;
  -o-animation: disap 2s linear;
  animation: disap 2s linear;
}

@-webkit-keyframes disap {
  from {
    top: 100px;
    visibility: hidden;
  }
  to {
    top: -60px;
    visibility: visible;
  }
}
@-moz-keyframes disap {
  from {
    top: 100px;
    visibility: hidden;
  }
  to {
    top: -60px;
    visibility: visible;
  }
}
@-ms-keyframes disap {
  from {
    top: 100px;
    visibility: hidden;
  }
  to {
    top: -60px;
    visibility: visible;
  }
}
@-o-keyframes disap {
  from {
    top: 100px;
    visibility: hidden;
  }
  to {
    top: -60px;
    visibility: visible;
  }
}
@keyframes disap {
  from {
    top: 100px;
    visibility: hidden;
  }
  to {
    top: -60px;
    visibility: visible;
  }
}
.parentContainerTweetBox {
  position: relative;
  top: 140px;
  margin-bottom: 140px;
  padding-left: 15px;
  padding-right: 15px;
}

.containerTweetBox {
  /*margin-top: -6px;*/
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 100%;
  max-width: 600px;
  border: 1px solid #0E1822;
  border-radius: 7px;
  background: #1b2836;
  text-align: center;
}

.line {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 35px;
  top: 3px;
  border: 1px solid #f08857;
  display: inline-block;
  margin-bottom: -3px;
  margin-top: -4px;
  border-radius: 3px;
  z-index: 1;
}

.num {
  text-align: left;
  color: #FFFFFF;
  font-family: "Roboto Condensed", sans-serif, Arial, Georgia;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: default;
}

.tweetBox {
  margin-top: 10px;
  height: 120px;
  width: 100%;
  max-width: 550px;
  resize: none;
  background: #141d26;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 14px;
  outline: none;
  border: 1px solid #333;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif, Arial, Georgia;
  letter-spacing: 0.6px;
  line-height: 1.5;
  display: inline-block;
  overflow-y: hidden;
}

/*.tweetBox1, .tweetBox2, .tweetBox3{
	@extend .tweetBox;
}*/
.tweetBox:focus {
  border: 1px solid #134f6b;
}

.tweetBox::-webkit-input-placeholder {
  color: #6d8ead;
}

.options {
  text-align: right;
  margin-right: 30px;
}

.copy, .copy1, .copy2, .copy3, .copy4, .copy5, .copy6, .copy7, .rem {
  display: inline-block;
  color: lightblue;
  margin-right: 15px;
  padding: 15px 25px 15px 25px;
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif, Arial, Georgia;
  letter-spacing: 0.6px;
}

.copy, .copy1, .copy2, .copy3, .copy4, .copy5, .copy6, .copy7 {
  cursor: pointer;
  position: relative;
  bottom: 0;
  transition: 0.1s;
}

.copy:active, .copy1:active, .copy2:active, .copy3:active, .copy4:active, .copy5:active, .copy6:active, .copy7:active {
  position: relative;
  bottom: 2px;
  transition: 0.1s;
}

.rem {
  color: #28bef2;
  font-weight: bold;
  cursor: default;
  letter-spacing: 0.6px;
}

.about_con {
  position: fixed;
  bottom: -150px;
  left: 0;
  right: 0;
  /*margin-right: auto;
  margin-left: auto;*/
  height: auto;
  width: 100%;
  max-width: 400px;
  z-index: 10;
  text-align: justify;
  border: 1px solid #0E1822;
  visibility: hidden;
  transition: 1s;
}
.about_con .about, .about_con .info {
  background: #1b3449;
  padding: 20px;
  color: #86acd0;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif, Arial, Georgia;
  letter-spacing: 0.6px;
  border-radius: 4px;
  font-weight: 100;
}
.about_con .closeX {
  font-size: 17px;
  font-weight: bold;
  border: none;
  display: inline-block;
  float: right;
  margin-right: 6px;
  cursor: pointer;
  padding: 5px;
  color: pink;
}

.come_up {
  bottom: 0;
  visibility: visible;
  transition: 1s;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1B2836;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  /*background-color: #F5F5F5;*/
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #3f4958;
  border-radius: 50px;
}

::-moz-selection {
  background: #1bb2b1;
}

::-webkit-selection {
  background: #1bb2b1;
}

::-ms-selection {
  background: #1bb2b1;
}

::selection {
  background: #1bb2b1;
}

/*# sourceMappingURL=style.css.map */
