//colors
$brand_color: #2BD9FF;

$deepblue: #163E93;

//Fonts
$font_stack_roboto: "Roboto Condensed", sans-serif, Arial, Georgia;






//social
$twitter: #00aced;
$facebook: #3b5998;
$whatsapp: #34af23;
$bitcoin: #f7931a;